.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.text-color-dark {
    color: #262626 !important;
}

.text-color-light {
    color: #EEE !important;
}

.text-color-yellow {
    color: #FFFF26 !important;
}

.text-shadow-light {
    text-shadow: -1px 0 #EEE, 0 1px #EEE, 1px 0 #EEE, 0 -1px #EEE !important;
}

.text-shadow-light-2 {
    text-shadow: -2px 0 #EEE, 0 2px #EEE, 2px 0 #EEE, 0 -2px #EEE !important;
}

.text-shadow-dark {
    text-shadow: -1px 0 #262626, 0 1px #262626, 1px 0 #262626, 0 -1px #262626 !important;
}

.text-shadow-dark-2 {
    text-shadow: -2px 0 #262626, 0 2px #262626, 2px 0 #262626, 0 -2px #262626 !important;
}

.text-shadow-yellow {
    text-shadow: -1px 0 #FFFF26, 0 1px #FFFF26, 1px 0 #FFFF26, 0 -1px #FFFF26 !important;
}

.text-shadow-yellow-2 {
    text-shadow: -2px 0 #FFFF26, 0 2px #FFFF26, 2px 0 #FFFF26, 0 -2px #FFFF26 !important;
}

.text-shadow-red {
    text-shadow: -1px 0 #FF2626, 0 1px #FF2626, 1px 0 #FF2626, 0 -1px #FF2626 !important;
}

.socialLink a {
    color: #FFFF26 !important;
    text-shadow: -1px 0 #262626, 0 1px #262626, 1px 0 #262626, 0 -1px #262626 !important;
}

.socialLink a:hover {
    color: #262626 !important;
    text-shadow: -1px 0 #FFFF26, 0 1px #FFFF26, 1px 0 #FFFF26, 0 -1px #FFFF26 !important;
}